<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Design Template</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

  <link rel="stylesheet" type="text/css" href="http://tera.enmasse.com/assets/application.css">
  <!-- <link rel="stylesheet" type="text/css" href="/style.css"> -->
  <style type="text/css">
    <%= File.read(File.join('public/style.css')) %>
  </style>
</head>
<body>
  <div class="pattern-wrapper">
    <ul id="nav">
      <% Dir.foreach(Dir.pwd + '/patterns/') do |fname| %>
      <% next if fname == '.' or fname == '..' or fname == '.DS_Store' %>
          <li><a href="#" data-name="<%= fname.gsub(/\.html/, '') %>"><%= fname.gsub(/\.html/, '').gsub(/\-/, ' ') %></a></li>
      <% end %>
    </ul>

    <div id="viewer">
      <% Dir.foreach(Dir.pwd + '/patterns/') do |fname| %>
        <% next if fname == '.' or fname == '..' or fname == '.DS_Store' %>
        <div class="pattern-right" id="pattern-<%= fname.gsub(/\.html/, '') %>">
          <%= File.read(File.join('patterns/', fname)) %>
        </div>
      <% end %>
    </div>

  </div>

  <script src="http://cdn.sublimevideo.net/js/4on6wa5x.js" type="text/javascript"></script>
  <script src="http://tera-cdn0.enmasse-game.com/assets/application-c4e9d9ca2d38fd7d113de991ee8eb8d5.js" type="text/javascript"></script>
  <!-- <script src='/app.js' type='text/javascript'></script> -->
  <script type="text/javascript">
    <%= File.read(File.join('public/app.js')) %>
  </script>
</body>
</html>
